:root {
    --wye-red: #d91e26;
    --wye-black: #0b0b0b;
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    min-height: 100vh;
}

body {
    font-family: Oswald, sans-serif;
    color: white;
    text-transform: uppercase;
}

.center-grid {
    display: grid;
    align-content: center;
    justify-content: center;
}

.container {
    min-width: 100%;
    min-height: 100vh;
    display: grid;
    background-color: var(--wye-black);
    align-content: center;
    justify-content: stretch;
    grid-gap: 15px;
}

.btn {
    border: 2px solid var(--wye-red);
    margin: auto;
    padding: 5px 8px;
    background: transparent;
    color: var(--wye-red);
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
}

.top-controls {
    display: grid;
    justify-content: center;
}

.effects-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 0 auto;
}

.effect-box {
    border: 2px solid var(--wye-red);
    padding: 15px;
    min-height: 200px;
    background: url('./bass-bg.jpg');
    background-size: cover;
    display: grid;
    grid-gap: 15px;
    align-items: start;
    grid-template-rows: 1fr;
    grid-auto-rows: min-content;
    justify-content: stretch;
}

.effect-box__title {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: max-content 1fr max-content;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    color: var(--wye-red);
}

.effect-box__input {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 15px;
    align-items: center;
}

.effect-box__button {
    border: 2px solid var(--wye-red);
    margin: auto;
    padding: 5px 8px;
    background: transparent;
    color: var(--wye-red);
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
}

.separator {
    height: 1px;
    background-color: var(--wye-red);
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px auto;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: var(--wye-red);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: var(--wye-red);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: red;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
    background: var(--wye-red);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
    border: 1px solid #000000;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}